<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>页面绘制识别</title>
</head>
<style>
    body {
        margin: 0;
        padding: 0;
    }
</style>
<body style="background-color:#f0ffff">
<div id="main" style="width: 410px;height: 410px;margin-left: 100px;margin-top:100px;">
    <h3>请绘制数学算式</h3>
    <canvas id="my_canvas" style="width: 777px;height: 300px;border: 1px solid;">
    </canvas>
    <button id="submit" style="font-size: 20px">Submit</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button id="clear" style="font-size: 20px">Clear</button>
</div>

<div id="show" style="width: 150px;height: 150px;margin-left: 100px;margin-top: 20px">
    <h2>算式识别：</h2>
    <input type="text" id="res1" value="算式" style="height: 50px;font-size: 30px"><br>
    <h2>计算结果：</h2>
    <input type="text" id="res2" value="结果" style="height: 50px;font-size: 30px"><br>
</div>
<script>
    var s = document.getElementById("show");
    // 获取主画布
    var my_canvas = document.getElementById("my_canvas");
    // 获取识别结果框
    var res1 = document.getElementById("res1");
    // 获取计算结果框
    var res2 = document.getElementById("res2");
    // 获取提交按钮
    var btn1 = document.getElementById("submit");
    // 获取清除按钮
    var btn2 = document.getElementById("clear");


    function init_canvas() {
        my_canvas.width = 777;
        my_canvas.height = 300;
        // 获取主画布2d接口的画笔
        ctx1 = my_canvas.getContext("2d");
        // 绘制画布背景为白色（默认为透明色）
        ctx1.fillStyle = "#000000";
        ctx1.fillRect(0, 0, 777, 300);
        // // 绘制画布边框为黑色
        // ctx1.strokeStyle = "#000000";
        ctx1.lineWidth = 1;
        ctx1.strokeRect(0, 0, 777, 300);

        res1.value='';
        res2.value='';
    }

    init_canvas();
    //获取画布的起点坐标位置
    var canvaX = my_canvas.offsetLeft;
    var canvaY = my_canvas.offsetTop;

    //鼠标按下操作事件绑定
    my_canvas.onmousedown = function (event) {
        // window.event处理浏览器的兼容性
        var ev = event || window.event;
        // 获取落笔点的绝对坐标位置
        var left = ev.clientX;
        var top = ev.clientY;
        // 获取落笔点的相对于画布的相对坐标位置
        var x = left - canvaX;
        var y = top - canvaY;

        // 定义画笔粗细 粗些较易识别
        ctx1.lineWidth = 5;
        ctx1.strokeStyle = '#ffffff';
        // 定义画笔的落笔点坐标位置
        ctx1.beginPath();
        // ctx1.moveTo(location.x, location.y);
        ctx1.moveTo(x, y);
        //鼠标移动操作事件绑定
        my_canvas.onmousemove = function (event) {
            // window.event处理浏览器的兼容性
            var ev = event || window.event;
            // 获取起笔点的绝对坐标位置
            var left = ev.clientX;
            var top = ev.clientY;
            // 获取起笔点的相对于画布的相对坐标位置
            var x = left - canvaX;
            var y = top - canvaY;
            // 定义画笔的落笔点坐标位置
            ctx1.lineTo(x, y);
            ctx1.stroke();

            my_canvas.onmouseup = function () {
                my_canvas.onmouseup = null;
                my_canvas.onmousemove = null;
            };
            my_canvas.onmouseout = function () {
                my_canvas.onmouseout = null;
                my_canvas.onmouseup = null;
                my_canvas.onmousemove = null;
            };
        };
    };


    btn1.onclick = function () {
        res1.value = "(4 + 6) * 3";
        res2.value = "30";
    };
    btn2.onclick = function () {
        init_canvas();
    }
</script>
</body>
</html>